<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>学生列表页面</title>
    <script th:src="@{/js/jquery-3.3.1.js}" type="text/javascript"></script>
    <script th:src="@{/js/vue.min.js}" type="text/javascript"></script>
</head>
<body>
    <input id="studentId"/>
    <button onclick="findById()">我是按钮</button>
</body>
<script>
    function findById() {
        var id=$("#studentId").val();
        $.get("/findById?id="+id,{},function (data) {
            alert(data);
        });
    }
</script>

</html>